# ===================================================================
# solstice-config requirements file
# ===================================================================
pytest
pytest-cov
coveralls
artellapipe-config
tpPyUtils